In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
import numpy as np

In [2]:
df = pd.read_csv("3wt.csv")
df.sample(10)

     rp(A)  fof_Na  fof_Cl  (fof_Na+fof_Cl)/2  fof_Ow
58     5.8   1.000   1.000              1.000   0.998
169   16.9   0.870   0.881              0.876   0.790
84     8.4   0.946   0.946              0.946   0.883
113   11.3   0.892   0.903              0.897   0.796
21     2.1   1.000   1.000              1.000   1.000
147   14.7   0.870   0.881              0.876   0.793
104   10.4   0.892   0.892              0.892   0.810
85     8.5   0.946   0.946              0.946   0.887
131   13.1   0.881   0.881              0.881   0.797
27     2.7   1.000   1.000              1.000   1.000

In [4]:
df.corr()["rp(A)"]

rp(A)                1.000000
fof_Na              -0.918706
fof_Cl              -0.918047
(fof_Na+fof_Cl)/2   -0.918916
fof_Ow              -0.915338
Name: rp(A), dtype: float64

In [5]:
prof=ProfileReport(df)
prof.to_file(output_file="3wt%.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [15]:
X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,0:4],df["fof_Ow"],test_size=0.2,random_state=42)
X_train.head()

     rp(A)  fof_Na  fof_Cl  (fof_Na+fof_Cl)/2
51     5.1   1.000   1.000              1.000
35     3.5   1.000   1.000              1.000
118   11.8   0.881   0.881              0.881
60     6.0   1.000   1.000              1.000
161   16.1   0.870   0.881              0.876

In [104]:
lr = LinearRegression()

In [105]:
lr.fit(X_train,y_train)

LinearRegression()

In [106]:
pred = lr.predict(X_test)
pred

array([0.71385174, 0.70468389, 0.83120025, 0.91554449, 0.84953595,
       1.00722302, 1.01822444, 1.00538945, 0.77619314, 0.80736383,
       0.83486739, 0.86053738, 1.0017223 , 0.73402101, 0.87887308,
       0.81469812, 0.84403524, 0.91371092, 0.93204663, 0.95771661,
       0.97971946, 0.99072088, 0.75052315, 0.85687024, 0.91004378,
       0.80186312, 0.8091974 , 0.99988873, 0.9522159 , 0.89720879,
       0.72668673, 0.91187735, 1.02555872, 0.79269527, 0.72485316,
       0.73585458, 0.89170808, 0.82936668])

In [107]:
z=lr.score(X_test,y_test)
z=100*z
print("%0.2f"%z,"%")

85.79 %